@page "/EditPost/{id:int}"
@using Domain.DTOs
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr

    @if (dto == null)
    {
        <label>Loading post data..</label>
    }
    else
    {
        
        <h3>Update Posts</h3>
        <div class="border border-dark postCard padded">
            <div class="padded">
                <input class="title" @bind="dto.Title"/>
                <p class="timestamp"></p>
                <p></p>
                <textarea @bind="dto.Content" placeholder="Write the content of your post here" class="content"></textarea>
                    <div class="button-row">
                        <button @onclick="UpdateAsync" class="editBtn btn btn-success">Update</button>
                    </div>
            </div>
        </div>
        
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }

@code {
    [Parameter]
    public int Id { get; set; }

    private PostUpdateDto dto = null!;
    private string msg = "";
    
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            PostBasicDto postData = await postService.GetByIdAsync(Id);
            
                dto = new(Id)
                {
                    Title = postData.Title,
                    Content = postData.Content
                };
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    
    private async Task UpdateAsync()
    {
        try
        {
            await postService.UpdateAsync(dto);
            navMgr.NavigateTo("/ViewSinglePost/"+Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}