@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to our forum</h1><br/>

<h4>Here you can:</h4>
<ul>
    <li>Create a user</li>
    <li>Add posts</li>
    <li>See other peoples post</li>
    <li>Edit your posts</li>
</ul>