@page "/ViewSinglePost/{id:int}"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject IPostService postService


    @if (dto == null)
    {
        <label>Loading post data..</label>
    }
    else
    {
        <PostCard Title="@dto.Title"  UserName="Fake username" ItemId="@dto.Id" Content="@dto.Content" editAllowed="true"/>
    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }





@code {
    [Parameter]
    public int Id { get; set; }

    private PostUpdateDto dto = null!;
    private string msg = "";
    
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            PostBasicDto postData = await postService.GetByIdAsync(Id);
            

            dto = new(Id)
            {
                Title = postData.Title,
                Content = postData.Content
            };
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}