@page "/ViewSinglePost/{id:int}"
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@inject IPostService postService
<h3>ViewSinglePost</h3>


<div class="card">
    @if (dto == null)
    {
        <label>Loading post data..</label>
    }
    else
    {
        <div class="form-group field">
            <label>Title:</label>
            <textarea readonly>@dto.Title</textarea>
        </div>
        <div class="form-group field">
            <label>Content:</label>
            <textarea readonly>@dto.Content</textarea>
        </div>
        <div>
            <a href="/EditPost/@dto.Id"><button>Edit</button></a>
        </div>

    }
    @if (!string.IsNullOrEmpty(msg))
    {
        <label style="color: red">@msg</label>
    }
</div>





@code {
    [Parameter]
    public int Id { get; set; }

    private PostUpdateDto dto = null!;
    private string msg = "";
    
    
    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            PostBasicDto postData = await postService.GetByIdAsync(Id);
            

            dto = new(Id)
            {
                Title = postData.Title,
                Content = postData.Content
            };
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}